.article-header {
  align-items: center;
  display: flex;
  margin-bottom: 35px;
  position: relative;

  & picture {
    width: 130px;
    height: 130px;
    margin-right: 15px;

    & img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      height: 210px;
      opacity: .1;
      position: absolute;
      right: 0;
      width: 210px;
    }
  }

  &__info {
    flex: 1;

    &--details {
      color: #464545;
      font-size: 13px;

      & span:last-child {
        margin-left: 10px;
        font-weight: 600;
        color: #6c757d;
      }
    }
  }
}

.article-content {
  font-size: 18px;
  line-height: 29px;
}